In [2]:
retailer_id = 88727858
with open(r'E:\assignment\test\data\stock.txt', 'r') as f:
    lines = f.readlines()
    for line in lines:
        detail = line.strip().split(', ')
        print(detail)
        # print(detail[0])
        # print(detail[-1])

['88727858', 'dLrIrEaovi', 'Wellington Rd Clayton', 'VIC3168', '(8.8', '14.2)', "['BY962504", 'zSyOgLqCHc', '7', '262', '2422', "RWD'", "'MF852547", 'RYjEUsOSQa', '6', '193', '2640', "AWD'", "'ZK215141", 'TKdjbRaLvPi', '15', '248', '2708', "AWD'", "'MD735325", 'imGniJhZOMg', '14', '140', '2279', "AWD']"]
['26849228', 'MnWpvvwwOu', 'Wellington Rd Clayton', 'VIC3168', '(11.1', '13.4)', "['LN807267", 'pnXfiQAbaG', '20', '222', '2180', "RWD'", "'DF763895", 'mQhDqmMAKmlxLeZmXeM', '20', '174', '2507', "RWD'", "'KX569985", 'fmTfzyROdCens', '20', '187', '1526', "FWD'", "'CI501910", 'lQZahqBaOKkeaA', '18', '220', '1743', "FWD']"]
['97167616', 'KQTXjYQcOU', 'Clayton Rd Mount Waverley', 'VIC3170', '(9.6', '16.5)', "['NT223476", 'WwatgvkdzAR', '20', '182', '1566', "RWD'", "'QF455435", 'DuzxyJcwCV', '6', '145', '2800', "AWD'", "'LG061491", 'UxHUqMARNJN', '9', '169', '2360', "RWD']"]

In [ ]:
['BY962504, zSyOgLqCHc, 7, 262, 2422, RWD', 'MF852547, RYjEUsOSQa, 6, 193, 2640, AWD', 'ZK215141, TKdjbRaLvPi, 15, 248, 2708, AWD', 'MD735325, imGniJhZOMg, 14, 140, 2279, AWD']

In [5]:
string = "88727858, dLrIrEaovi, Wellington Rd Clayton, VIC3168, (8.8, 14.2), ['BY962504, zSyOgLqCHc, 7, 262, 2422, RWD', 'MF852547, RYjEUsOSQa, 6, 193, 2640, AWD', 'ZK215141, TKdjbRaLvPi, 15, 248, 2708, AWD', 'MD735325, imGniJhZOMg, 14, 140, 2279, AWD']"

arr = string.strip().split(', ')
arr[6:], arr[0]

(["['BY962504",
  'zSyOgLqCHc',
  '7',
  '262',
  '2422',
  "RWD'",
  "'MF852547",
  'RYjEUsOSQa',
  '6',
  '193',
  '2640',
  "AWD'",
  "'ZK215141",
  'TKdjbRaLvPi',
  '15',
  '248',
  '2708',
  "AWD'",
  "'MD735325",
  'imGniJhZOMg',
  '14',
  '140',
  '2279',
  "AWD']"],
 '88727858')

In [6]:
dict = {
    retailer1: [[car1], [car2], [car3]...],
}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (193379956.py, line 2)

In [7]:
arr

['88727858',
 'dLrIrEaovi',
 'Wellington Rd Clayton',
 'VIC3168',
 '(8.8',
 '14.2)',
 "['BY962504",
 'zSyOgLqCHc',
 '7',
 '262',
 '2422',
 "RWD'",
 "'MF852547",
 'RYjEUsOSQa',
 '6',
 '193',
 '2640',
 "AWD'",
 "'ZK215141",
 'TKdjbRaLvPi',
 '15',
 '248',
 '2708',
 "AWD'",
 "'MD735325",
 'imGniJhZOMg',
 '14',
 '140',
 '2279',
 "AWD']"]

In [28]:
with open(r'E:\assignment\test\data\stock.txt', 'r') as f:
    lines = f.readlines()
    dic = {}
    for line in lines:
        detail = line.strip().split(', ')
        key = int(detail[0])
        dic[key] = []
        lst = detail[6:]
        for i in range(0, len(lst), 6):
            car_info = arr[6:][i:i+6]
            res = []
            for val in car_info:
                res.append(val.replace('[', '').replace(']', '').replace("'", ''))
            dic[key].append(res)
dic

{88727858: [['BY962504', 'zSyOgLqCHc', '7', '262', '2422', 'RWD'],
  ['MF852547', 'RYjEUsOSQa', '6', '193', '2640', 'AWD'],
  ['ZK215141', 'TKdjbRaLvPi', '15', '248', '2708', 'AWD'],
  ['MD735325', 'imGniJhZOMg', '14', '140', '2279', 'AWD']],
 26849228: [['BY962504', 'zSyOgLqCHc', '7', '262', '2422', 'RWD'],
  ['MF852547', 'RYjEUsOSQa', '6', '193', '2640', 'AWD'],
  ['ZK215141', 'TKdjbRaLvPi', '15', '248', '2708', 'AWD'],
  ['MD735325', 'imGniJhZOMg', '14', '140', '2279', 'AWD']],
 97167616: [['BY962504', 'zSyOgLqCHc', '7', '262', '2422', 'RWD'],
  ['MF852547', 'RYjEUsOSQa', '6', '193', '2640', 'AWD'],
  ['ZK215141', 'TKdjbRaLvPi', '15', '248', '2708', 'AWD']]}

In [50]:
id = 88727858
res = []
for key, val in dic.items():
    if key == id:
        for car in val:
            res.append(car[0])

res

['BY962504', 'MF852547', 'ZK215141', 'MD735325']

In [24]:
dic = { 
    'a': [1, 2, 3, 4, 5], 
    'b': [6, 5, 4, 3,2], 
    'c': [76, 45, 34, 23,21] 
}

In [25]:
dic['a'].append(6)
dic

{'a': [1, 2, 3, 4, 5, 6], 'b': [6, 5, 4, 3, 2], 'c': [76, 45, 34, 23, 21]}

In [29]:
PATH = r'E:\assignment\test\data\stock.txt'
type(PATH)

str

In [44]:
def ABC(str, integer=123, list=[]):
    print(str, integer, list)

In [46]:
ABC('abc', 123, [1, 2, 3])

abc 123 [1, 2, 3]

In [1]:
import numpy as np
import random

In [1]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]
res = []
for i in arr:
    if  i % 2 ==0:
        res.append(i)
res

[2, 4, 6, 8]

In [4]:
res = [True if i % 2 == 0 else False for i in arr]
res

[False, True, False, True, False, True, False, True, False]

In [5]:
def format_file(path: str) -> dict:
        try:
            with open(path, 'r') as f:
                lines = f.readlines()
                dic = {}
                for line in lines:
                    detail = line.strip().split(', ')
                    key = ', '.join(detail[:6])
                    # key = int(detail[0])
                    dic[key] = []
                    lst = detail[6:]
                    for i in range(0, len(lst), 6):
                        car_info = lst[i:i + 6]
                        res = []
                        for val in car_info:
                            res.append(val.replace('[', '').replace(']', '').replace("'", ''))
                        dic[key].append(res)
            return dic
        except FileNotFoundError:
            print(f"Error: File '{path}' not found.")

In [6]:
test = format_file(r'E:\assignment\test\Assignment02\data\stock.txt')

In [7]:
test

{'88727858, dLrIrEaovi, Wellington Rd Clayton, VIC3168, (8.8, 14.2)': [['BY962504',
   'zSyOgLqCHc',
   '7',
   '262',
   '2422',
   'RWD'],
  ['MF852547', 'RYjEUsOSQa', '6', '193', '2640', 'AWD'],
  ['ZK215141', 'TKdjbRaLvPi', '15', '248', '2708', 'AWD'],
  ['MD735325', 'imGniJhZOMg', '14', '140', '2279', 'AWD']],
 '26849228, MnWpvvwwOu, Wellington Rd Clayton, VIC3168, (11.1, 13.4)': [['LN807267',
   'pnXfiQAbaG',
   '20',
   '222',
   '2180',
   'RWD'],
  ['DF763895', 'mQhDqmMAKmlxLeZmXeM', '20', '174', '2507', 'RWD'],
  ['KX569985', 'fmTfzyROdCens', '20', '187', '1526', 'FWD'],
  ['CI501910', 'lQZahqBaOKkeaA', '18', '220', '1743', 'FWD']],
 '97167616, KQTXjYQcOU, Clayton Rd Mount Waverley, VIC3170, (9.6, 16.5)': [['NT223476',
   'WwatgvkdzAR',
   '20',
   '182',
   '1566',
   'RWD'],
  ['QF455435', 'DuzxyJcwCV', '6', '145', '2800', 'AWD'],
  ['LG061491', 'UxHUqMARNJN', '9', '169', '2360', 'RWDNone,kfhjlskdhfgj'],
  ['City of Maroondah', 'VIC3135', '(8.8', '14.2)', '', '']],
 'None,dbjkassad, Shire of Yarra Ranges, VIC3160, (11.1, 13.4), []': [['']]}

In [37]:
data = {'88727858, dLrIrEaovi, Wellington Rd Clayton, VIC3168, (8.8, 14.2)': [['BY962504','zSyOgLqCHc','7','262','2422','RWD'],['MF852547', 'RYjEUsOSQa', '6', '193', '2640', 'AWD'],['ZK215141', 'TKdjbRaLvPi', '15', '248', '2708', 'AWD'],['MD735325', 'imGniJhZOMg', '14', '140', '2279', 'AWD']],
 '26849228, MnWpvvwwOu, Wellington Rd Clayton, VIC3168, (11.1, 13.4)': [['LN807267',
   'pnXfiQAbaG',
   '20',
   '222',
   '2180',
   'RWD'],
  ['DF763895', 'mQhDqmMAKmlxLeZmXeM', '20', '174', '2507', 'RWD'],
  ['KX569985', 'fmTfzyROdCens', '20', '187', '1526', 'FWD'],
  ['CI501910', 'lQZahqBaOKkeaA', '18', '220', '1743', 'FWD'],
  ['CI501910', 'lQZahqBaOKkeaA', '18', '220', '1743', 'FWD']],
 '97167616, KQTXjYQcOU, Clayton Rd Mount Waverley, VIC3170, (9.6, 16.5)': [['NT223476',
   'WwatgvkdzAR',
   '20',
   '182',
   '1566',
   'RWD'],
  ['QF455435', 'DuzxyJcwCV', '6', '145', '2800', 'AWD'],
  ['LG061491', 'UxHUqMARNJN', '9', '169', '2360', 'RWD']]}

def update_stock_file(path: str, file_formatted: dict) -> None:
    # Open a file for writing
    with open(path, 'w') as file:
        # Iterate over the dictionary and write each entry to the file
        for key, value in file_formatted.items():
            for entry in value:
                entry[0] = f"'{entry[0]}"
            # Convert the inner lists to a formatted string
            formatted_entries = [', '.join(entry) for entry in value]
            # Join the formatted entries into a single string
            formatted_data = "', ".join(formatted_entries)
            # Write the formatted data to the file
            file.write(f"{key}, [{formatted_data}']\n")

In [9]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]
arr.index(1)

0

In [ ]:
print('a is', a, 'b is', b)
print('a is {}, b is {}'.format(a, b))
print(f'a is {a}, b is {b}')